.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 clamp(20px, 120vw * @px2vw, 120px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    z-index: 500;
    transition: 300ms @easeOutQuad;

    .body--fixed-header &{
        position: fixed;
        background: none;
    }

    .body--light-header:not(.body--scroll) &{
        color: @light-text-color;
    }

    .body--scroll &{
        background: @bg-color;
    }

    // @media screen and (max-width: @l) {
    //     height: 100px;
    //     .body--scroll &{
    //         height: 80px;
    //     }
    // }

    // @media screen and (max-width: @tablet-s) {
    //     height: 80px;
    // }

    // @media screen and (max-width: @mobile-l) {
    //     gap: 8px;
    // }


    &__logo{
        height: clamp(80px, 119vw * @px2vw, 119px);
        margin-right: auto;

        svg{
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    &__search{
        flex-grow: 1;
    }

    &__menu{
        padding-right: clamp(10px, 35vw * @px2vw, 35px);

        @media screen and (max-width: @tablet-l) {
            display: none;            
        }
    }

    &__hamburger{
        margin-right: 20px;
    }

    &__hamburger-mobile{
        display: none;
        @media screen and (max-width: @tablet-l) {
            display: block;
        }
    }

    &__cta{
        @media screen and (max-width: @tablet-s) {
            display: none;
        }
    }

    &__languages{
        flex-shrink: 0;
    }



    .menu{
        display: flex;
        align-items: center;
        gap: clamp(12px, 24vw * @px2vw, 24px);
        .font-18;

        &:nth-child(2){
            position: relative;
        }
        
        &__item{
            position: relative;
            width: clamp(60px, 200vw * @px2vw, 200px);
            border-top: 1px solid @border-color-light;

            &:hover{
                .menu__submenu{
                    visibility: visible;
                    pointer-events: all;
                    transform: scale3d(1,1,1) translateX(-50%);
                    -webkit-transform: scale3d(1,1,1) translateX(-50%);
                    opacity: 1;
                }
                > .menu__link--parent::after{
                    transform: rotate3d(0,0,1,180deg);
                    -webkit-transform: rotate3d(0,0,1,180deg);
                }
            }
        }

        &__link{
            color: inherit;
            height: 46px;
            line-height: 46px;
            white-space: nowrap;
            display: block;
            transition: 0.3s @easeOutQuad;

            &:hover{
                padding-left: 10px;
            }

            &:hover::before{
                opacity: 1;
            }

            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0.104) 15%, transparent 85%);
                opacity: 0;
                transition: 0.3s ease-in-out;
            }

            &--parent{
                display: flex;
                gap: 10px;
                align-items: center;
                &::after{
                    content: '';
                    width: 10px;
                    height: 6px;
                    background: url(../img/icons/dropdown.svg) no-repeat center;
                    filter: brightness(0) invert(1);
                    transition: 300ms @easeOutQuad;

                    .body--light-header:not(.body--scroll) &{
                        filter: invert(100%);
                    }
                }
            }
        }

        // DA AGGIUNGERE IMMAGINE E BOTTONE PER OGNI ITEM, 
        // IL BOTTONE E' UN ELEMENT (CTA) E LO STILE DELLE IMMAGINI 
        // E DEL CONTAINER LO TROVI NEL FILE submenu-progetti.less

        &__submenu{
            list-style-type: none;
            margin: 0;
            background: @header-bg-color;
            visibility: hidden;
            pointer-events: none;
            transform: scale3d(1,0,1) translateX(-50%);
            -webkit-transform: scale3d(1,0,1) translateX(-50%);
            transform-origin: 0 0;
            -webkit-transform-origin: 0 0;
            transition: 300ms @easeOutQuad;
            opacity: 0;
            will-change: transform, opacity;
            height: clamp(100px, 260vw * @px2vw, 260px);
            display: flex;
            position: absolute;
            top: 200%;
            left: 100%;
            color: @text-color-secondary;
            .font-23;
            .fw-medium;

            .menu__item{
                width: fit-content;
                border-right: 1px solid @border-color;
                cursor: pointer;
                height: 100%;
                .font-23;
                padding: 1.1em 0.9em;
            }

            &:last-child{
                border-right: 0px;
            }

            &::before{
                content: '';
                .bg-light;
                width: clamp(10px, 21vw * @px2vw, 21px);
                height: clamp(8px, 19vw * @px2vw, 19px);
                position: absolute;
                top: 0;
                transform: translateY(-100%);
                left: 0;
                clip-path: polygon(0 100%, 0 0, 100% 100%);
            }

            .menu__link{
               
            }
        }
    }
}

.header--invert {
    color: @text-color-secondary;
    
    .menu__item {
        border-top: 1px solid @border-color;
    }

    .body--scroll &{
        background: @bg-color-secondary;
    }
}