.img-text{
    display: flex;
    .font-35;
    gap: 4em;
    align-items: center;
    margin-bottom: 4em;

    @media screen and (max-width:@tablet-m) {
        flex-direction: column;
        gap: 1.5em;
    }

    &--smaller{
        margin-bottom: 5em;

        .img-text__img{
            width: clamp(150px, 543vw * @px2vw, 543px);
            height: clamp(120px, 451vw * @px2vw, 451px);

            @media screen and (max-width:@tablet-m) {
                width: 100%;
                height: clamp(250px, 700vw * @px2vw, 700px);
            }
        }

        p{
            .font-18;
            .fw-light;
        }
    }

    &__img{
        width: clamp(300px, 710vw * @px2vw, 710px);
        height: clamp(200px, 600vw * @px2vw, 600px);
        
        @media screen and (max-width: @tablet-m) {
            width: 100%;
            height: clamp(250px, 700vw * @px2vw, 700px);
        }

        img,
        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        video{
            filter: grayscale(1);
        }
    }

    p{
        width: clamp(120px, 544vw * @px2vw, 544px);

        @media screen and (max-width:@tablet-m) {
            width: 100%;
        }
    }
}

.invert .img-text{

    &__img{
        order: 1;
        width: clamp(300px, 828vw * @px2vw, 828px);
        height: clamp(180px, 569vw * @px2vw, 569px);

        @media screen and (max-width: @tablet-m) {
            width: 100%;
            height: clamp(250px, 700vw * @px2vw, 700px);
        }
    }

    &__text{
        width: clamp(300px, 710vw * @px2vw, 710px);
        display: flex;
        justify-content: flex-end;

        @media screen and (max-width: @tablet-m) {
            width: 100%;
        }
    }

}

