.list-products{
    padding-bottom: 4.1em;
    .font-28;

    &__background{
        height: clamp(350px, 720vw * @px2vw, 720px);
        position: relative;
        padding-bottom: 1.8em;
        padding-left: 1.1em;
        .font-107;
        display: flex;
        align-items: flex-end;
        @media screen and (max-width: @tablet-m) {
            padding-right: 0.8em;
            padding-left: 0.8em;
        }

        @media screen and (max-width: @mobile-l) {
            height: 430px;
        }
        
        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, @bg-color, transparent);
        }

        h1{
            z-index: 1;
            position: relative;
            width: clamp(200px, 1213vw * @px2vw, 1213px);

            @media screen and (max-width: @tablet-m) {
                width: 100%;
            }
        }

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__items{
        padding-top: 1em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 3.5em;
        .font-28;

        @media screen and (max-width: @tablet-m) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: @mobile-l) {
            grid-template-columns: 1fr;
        }
    }
}

