.prodotto{
    display: flex;
    align-items: center;
    gap: clamp(12px, 46vw * @px2vw, 46px);
    transition: 0.2s ease-in-out;

    &:hover &__text{
        opacity: 0.6;
    }

    @media screen and (max-width: @tablet-s) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        &__text{
            width: 100%;
            grid-column: span 2;
        }
    }

    &__img{
        width: clamp(120px, 238vw * @px2vw, 238px);
        height: clamp(110px, 204vw * @px2vw, 204px);
        position: relative;

        &::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: @bg-color;
            mix-blend-mode: screen;
        }

        img{
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    &__text{
        transition: 0.2s ease-in-out;

        h2{
            margin-bottom: 0.1em;
            @media screen and (max-width: @tablet-s) {
                .font-44;
                margin-bottom: 1em;
            }
        }

        p{
            margin-bottom: 1.4em;

            @media screen and (max-width: @tablet-s) {
                display: none;
            }
        }
    }
}

.prodotti{
    hr{
        .font-86;
        margin: 0.8em 0;
    }

    &__title{
        margin-bottom: 1.9em;
    }
}
