.button{
    display: inline-block;
    height: clamp(32px, 32vw * @px2vw, 32px);
    width: clamp(32px, 32vw * @px2vw, 32px);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    &--primary{
        background-color: @cta-bg;
        color: @cta-color;  
    }

    &--secondary{
        background-color: @cta-bg-secondary;
        color: @cta-color-secondary;
    }
}

