.contacts{
    display: grid;
    grid-template-columns: 1fr;

    &__info{
        padding: 0.3em 0;
        padding-right: clamp(50px, 284vw * @px2vw, 284px);
        border-right: 1px solid @border-color-light;
    }

    &__upper{
        display: flex;
        padding-bottom: 0.8em;
    }

    &__form{
        width: 43%;
        padding: 0.7em 0;
    }

    .footer{

        &__info{
            grid-template-columns: 1fr;
            .font-23;
            gap: 1.85em;
        }
    }

}