@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html{
    font-size: clamp(15px, 22vw * @px2vw, 18px);
}

body{
    color: @text-color;
    font-family: @main-font;
    font-size: 1rem;
}

a{
    color: @main-color;
}


p{
    line-height: 1.4em;
    margin-bottom: 1em;
    &:last-child{
        margin: 0;
    }
}

em{
    font-style: italic;
}

strong{
    font-weight: bold;
}

blockquote{
    font-size: 1.4em;
    margin-bottom: 1em;
    *{
        line-height: 1.1em;
    }

}

dl{
    margin: 0 0 1.5em 1em;
    padding: 0;
    &:last-child{
        margin: 0;
    }
}

dd, dt{
    margin: 0;
    padding: 0;
}

dt{
    margin-bottom: .1em;
}

dd{
    margin-bottom: 1em;
    font-weight: bold;
    line-height: 1.4em;
}

ul{
    margin: 0 0 1.5em 1em;
    padding: 0;
}

li{
    margin-bottom: 1em;
}

// WEIGHT

.fw-medium{
    font-weight: 500;
}

.fw-light{
    font-weight: 300;
}

// ALIGNMENT

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

// COLOR

.blue{
    color: @text-color-secondary;
}

// FONT

.font-168{
    font-size: clamp(60px, 168vw * @px2vw, 168px);
    line-height: 120%;
}

.font-107{
    font-size: clamp(40px, 107vw * @px2vw, 107px);
    letter-spacing: -2%;
    line-height: 100%;
}

.font-86{
    font-size: clamp(40px, 86vw * @px2vw, 86px);
    letter-spacing: -2%;
    line-height: 120%;
}

.font-69{
    font-size: clamp(32px, 69vw * @px2vw, 69px);
    letter-spacing: -2%;
    line-height: 120%;
}

.font-60{
    font-size: clamp(30px, 65vw * @px2vw, 60px);;
    line-height: normal;
    * {
        line-height: inherit;
    }

    @media screen and (max-width: @mobile-s) {
        font-size: 25px;
    }
}
.font-55{
    font-size: clamp(28px, 44vw * @px2vw, 44px);
    line-height: 120%;
    letter-spacing: -2%;
}

.font-44{
    font-size: clamp(28px, 44vw * @px2vw, 44px);
    line-height: 120%;
    letter-spacing: -2%;
}

.font-37{
    font-size: clamp(27px, 40vw * @px2vw, 37px);
    line-height: normal;
    * {
        line-height: inherit;
    }

    @media screen and (max-width: @mobile-s) {
        font-size: 22px;
    }
}

.font-35{
    font-size: clamp(24px, 35vw * @px2vw, 35px);
    line-height: 120%;
    letter-spacing: -2%;
}

.font-32{
    font-size: clamp(22px, 32vw * @px2vw, 32px);
    line-height: 120%;
    letter-spacing: -2%;
}

.font-28{
    font-size: clamp(20px, 28vw * @px2vw, 28px);;
    line-height: 120%;
}

.font-23{
    font-size: clamp(16px, 23vw * @px2vw, 23px);;
    line-height: 120%;
}

.font-18{
    font-size: clamp(14px, 18vw * @px2vw, 18px);;
    line-height: 120%;
    letter-spacing: -2%;
}

.font-14{
    font-size: clamp(12px, 14vw * @px2vw, 14px);;
    line-height: 120%;
}

.font-12{
    font-size: 12px;
}

// titolo pronti
.title-primary{
    .font-107;
}

.title-secondary{
    .font-86;
}

.title-extrasmall{
    .font-12;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    margin-bottom: 1em;
    @media screen and (max-width: @tablet-m) {
        margin-bottom: .5em;
    }
}

