.page-form-info{
    margin-left: clamp(10px, 270vw * @px2vw, 270px);
    margin-right: clamp(10px, 230vw * @px2vw, 230px);

    @media screen and (min-width: @fullhd) {
        max-width: 1420px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (max-width: @xl) {
        margin-left: max(10px, 160vw * @px2vw);
        margin-right: max(10px, 160vw * @px2vw);
    }

    @media screen and (max-width: @tablet-l) {
        .mobile-margin;
    }
    &__intro{
        text-align: center;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    &__title{
        .title-primary;
    }

    &__text{
        .font-14;
    }

    &__content{
        display: grid;
        grid-template-columns: clamp(260px, 330vw * @px2vw, 330px) 1fr;
        gap: clamp(20px, 50vw*@px2vw, 50px);
        margin-top: clamp(30px, 60vw * @px2vw, 60px);

        @media screen and (max-width: @tablet-m) {
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }
}